h1 {
    color:#22d12b;
}

header {
    padding: 10px;
}

a {
    color: inherit;
}

ul {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    
    display: block;
    left: 0;
    padding-top: 10px;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    height:260px;
    background-color: #f3ded0;
}

.navbar-brand {
    font-size:30px;
    padding-right: 30px !important;
   
}
.navbar  {
    background-color: #435545;
}
.subtitle{
    color:#2b2b2b;
    text-align:center;
    font-size:50px;
    margin:15px;
    margin-bottom:30px;
}

.cart_icon{
    width:35px;
    height:auto;
}

.space_offset {
    margin-top: 5px;
    margin-right:5px;
}

.footer_items {
    list-style-type: none;
    color: black;
}

.footerSubtitle {
    text-align: center;
    font-size: 18px;
    color:rgb(63, 63, 63);
}
#bottom {
    background-color: #435545;
}
#container {
    min-height: 100%;
    position:relative;
}
#footerContainer {
    margin-top: 30px;
}

#formSubmit {
    background-color: black;
    border-color: black;
}

#trendingSection {
    margin-bottom: 100px;
}
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    width: 40%;
    float:right;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
#about_us_info {
    
    width: 55%;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    padding: 8px 8px;
    

}